<div class="container">
  <canvas id=”paper” width=”1900" height=”1000"></canvas>
  <div class="jumbotron opacity">
    <h2 class="text-center">Web RPG Sessionss</h2>
<img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/die-256.png" class="img-responsive center-block" alt="Smiley face" height="256" width="256">
  </div>
</div>
